<script type="text/javascript" src="public/assets/js/form.js"></script>
<section id="site">
<div class="wrapper">
<div class="container">
               <h2>Edit site #{{ site.id }}</h2>
               <form action="http://84.48.125.17:8080/skole/gruppe/web3/api/site/{{ site.id }}" method="put" role="form">
                   
             {{#if errors.name }} 
              <div class="form-group has-error has-feedback">
                         <label class="control-label" for="name">Name</label>
                         <input class="form-control" type="text" name="name" placeholder="Name" value="{{ errors.name }}">
                         <span class="form-control-feedback glyphicon glyphicon-remove"></span>
                    </div>
             {{ else }}
                    <div class="form-group">
                         <label class="control-label" for="name">Name</label>
                         <input class="form-control" type="text" name="name" placeholder="Name" value="{{ site.name }}">
                    </div>
         {{/if}}
              {{#if errors.domain }} 
                <div class="form-group has-error has-feedback">
                         <label class="control-label" for="domain">Domain</label>
                         <input class="form-control" type="text" name="domain" placeholder="Domain" value="{{ errors.domain }}">
                         <span class="form-control-feedback glyphicon glyphicon-remove"></span>
                    </div>
          {{ else }}
                    <div class="form-group">
                         <label class="control-label" for="domain">Domain</label>
                         <input class="form-control" type="text" name="domain" placeholder="Domain" value="{{ site.domain }}">
                    </div>
          
          
          
                {{/if}}
                    <div class="form-group">    <!--status(A,OK,M), type(Release,Development,Test,Debug), server -->
                         <label class="control-label" for="type">Type</label>
             <select class="form-control" name="type">
                                    <option style="display:none;" selected disabled>{{ site.type }}</option>
                                    <option>Release</option>
                                    <option>Development</option>
                                    <option>Debug</option>
                                    <option>Test</option>
             </select>
                        <button class="btn btn-primary" type="submit">Submit</button>
                         <button class="btn btn-default" type="button" onclick="history.go(-1);">Cancel</button>
                    </div>
               </form>
</div>
</div>
</section>