<script type="text/javascript" src="public/assets/js/form.js"></script>
<section id="site">
<div class="wrapper">
<div class="container">
               <h2>New Site</h2>

               <form action="http://84.48.125.17:8080/skole/gruppe/web3/api/site" method="post" role="form">

                    {{#if errors.name}} 
                    <div class="form-group has-error has-feedback">
                         <label class="control-label" for="name">Name</label>
                         <input class="form-control" type="text" name="name" placeholder="Name" value="{{errors.name}}">
                         <span class="form-control-feedback glyphicon glyphicon-remove"></span>
                    </div>
                   {{else}}
                   <div class="form-group">
                         <label class="control-label" for="name">Name</label>
                         <input class="form-control" type="text" name="name" placeholder="Name">
                    </div>
                    {{/if}}
               

              {{#if errors.domain}}
               <div class="form-group has-error has-feedback">
                         <label class="control-label" for="domain">Domain</label>
                         <input class="form-control" type="text" name="domain" placeholder="Domain" value="{{errors.domain }}">
                         <span class="form-control-feedback glyphicon glyphicon-remove"></span>
                    </div>
                {{else}}
                   <div class="form-group">
                         <label class="control-label" for="domain">Domain</label>
                         <input class="form-control" type="text" name="domain" placeholder="Domain">
                    </div>
                    {{/if}}

                    <div class="form-group">
                         <label class="control-label" for="type">Type</label>
                         <select class="form-control" name="type">
                              <option>Development</option>
                              <option>Debug</option>
                              <option>Test</option>
                              <option>Release</option>
                         </select>
                    </div>

                    <div class="form-group">
                         <input type="checkbox" name="template" value="true" checked /> Copy template
                         <button class="btn btn-primary" type="submit" data-loading-text="Loading...">Submit</button>
                         <button class="btn btn-default" type="button" onclick="history.go(-1);">Cancel</button>
                    </div>
               </form>

          </div>
          </div>
     </div>

</section>
