<script type="text/javascript" src="public/assets/js/form.js"></script>
<script type="text/javascript" src="public/assets/js/table.js"></script>
<section id="site">
<div class="wrapper">
<div class="container">
     <ul>
         <li class="viewli">Name - <b>{{site.name}}</b></li>
         <li class="viewli">Domain - <a href="http://84.48.125.17:8080/skole/gruppe/web3/sites/{{site.domain}}" target="_blank">{{ site.domain }}</a></li>
         <li class="viewli">Status: <span class="label label-{{site.status}}">{{site.status}}</span></li>
         <li class="viewli">Type: <span class="label label-{{site.type}}">{{site.type}}</span></li>
     </ul>

     <hr/>

     <div class="left">

          <h3>Files</h3>
          <div class="files">
               <table>
                    <tbody>
                         {{#files}}
                         <tr>
                             <td>{{this}}</td>
                         </tr>
                         {{/files}}
                    </tbody>
               </table>
          </div>

		<!--
          <form action="http://84.48.125.17:8080/skole/gruppe/web3/api/site/{{site.id}}/download" method="get">
               <button class="btn btn-info" type="submit" data-loading-text="Archiving...">Download</button>
          </form>
          -->
       
     </div>

     <div class="right">

          {{#if site.repo}}
          <form action="http://84.48.125.17:8080/skole/gruppe/web3/api/site/{{site.id}}/git/commit" method="post">
               <h3>Message</h3>
               <textarea class="form-control" type="text" rows="5" name="message" placeholder="What change did you do?"></textarea>
               <button class="btn btn-info" type="submit" data-loading-text="Committing...">Commit</button>
          </form>

       
          <form action="http://84.48.125.17:8080/skole/gruppe/web3/api/site/{{site.id}}/git/pull" method="get">
               <button class="btn btn-info" type="submit" data-loading-text="Pulling...">Pull</button>
          </form>

          <form action="http://84.48.125.17:8080/skole/gruppe/web3/api/site/{{site.id}}/git/push" method="get">
            <button class="btn btn-info" type="submit" data-loading-text="Pushing...">Push</button>
          </form>
        
          <h3>Pending commits</h3>
          <div class="commits">
               <table class="table table-responsive table-condensed">
                    <thead>
                         <tr>
                              <th>User</th>
                              <th>Email</th>
                              <th>Date</th>
                              <th>Message</th>
                         </tr>
                    </thead>
                    <tbody>
                    {{#each this}}
                         {{#pending}}
                              <tr>
                                   <td>{{committer.name}}</td>
                                   <td>{{committer.email }}</td>
                                   <td>{{date}}</td>
                                   <td>{{message}}</td>
                              </tr>
                         {{/pending}}
                    {{/each}}
                    </tbody>
               </table>
          </div>

          <h3>Previous commits</h3>
          <div class="commits">
               <table class="table table-responsive table-condensed">
                    <thead>
                         <tr>
                              <th>User</th>
                              <th>Email</th>
                              <th>Date</th>
                              <th>Message</th>
                         </tr>
                    </thead>
                    <tbody>
          {{#each this}}
            {{#previous}}
            <tr>
                    <td>{{commit.committer.name}}</td>
                    <td>{{commit.committer.email }}</td>
                    <td>{{commit.committer.date}}</td>
                    <td>{{commit.message}}</td>
            </tr>
            {{/previous}}
        {{/each}}
        </tbody>
     </table>
     </div>
        {{else}}
        <h3>This project does not have a repository</h3>
        <form action="http://84.48.125.17:8080/skole/gruppe/web3/api/site/{{site.id}}/git/clone" method="post">
            <div class="form-group">
                <label class="control-label" for="repositoryUrl">Clone existing project</label>
                <input class="form-control" type="text" name="repositoryUrl" placeholder="URL to repo">
                <button class="btn btn-info" type="submit" data-loading-text="Cloning...">Clone</button>
            </div>
        </form>
        <div class="form-group">
        <label>Create new repository</label>
        <form action="http://84.48.125.17:8080/skole/gruppe/web3/api/site/{{site.id}}/git/create" method="get">
            <button class="btn btn-info" type="submit" data-loading-text="Creating new Repository...">Create</button>
        </form>
        </div>
        
        {{/if}}


        </div>
    </div>
</div>
</section>
