<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
<script src="../../client/helpers.js"></script>
<script src="../../client/router.min.js"></script>
<script src="../../client/bootstrap.js"></script>

<!-- HEADER HER -->

<div id="content"></div>

<!-- FOOTER HER -->