<table>
    <thead> 
        <th>id</th>
        <th>type</th>
        <th>status</th>
    </thead> 
    <tbody> 
        {{#sites}} 
        <tr> 
            <td>{{this.id}}</td> 
            <td><span class="label label-{{{SetType this.type}}}">{{this.type}}</span></td> 
            <td><span class="label label-{{{SetStatus this.status}}}">{{this.status}}</span></td> 
        </tr> 
        {{/sites}} 
    </tbody> 
</table>