<!doctype html>
<html>
<head>
     <meta charset="utf-8">
     <title>SSAdmin</title>
     
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <meta name="description" content=""/>
     <meta name="keywords" content=""/>
     <meta name="robots" content="index, follow"/>
     <meta name="revisit-after" content="1 day"/>
     
     <link rel="stylesheet" href="{{ URL }}/public/assets/css/reset.css" type="text/css" media="all" />
     <link rel="stylesheet" href="{{ URL }}/vendor/twitter/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="all" />
     <link rel="stylesheet" href="{{ URL }}/vendor/twitter/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css" media="all" />
     <link rel="stylesheet" href="{{ URL }}/public/assets/css/screen.css" type="text/css" media="all" />
     <!--[if IE]>
     <link rel="stylesheet" href="{{ URL }}/public/assets/css/ie.css" type="text/css" media="screen, projection" />
     <![endif]-->

     <script type="text/javascript" src="{{ URL }}/vendor/yiisoft/jquery/jquery.min.js"></script>
     <script type="text/javascript" src="{{ URL }}/vendor/components/modernizr/modernizr.js"></script>
     <script type="text/javascript" src="{{ URL }}/vendor/twitter/bootstrap/dist/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="{{ URL }}/public/assets/js/misc.js"></script>
</head>
<body>
<header>
	<div class="wrapper">
				<h1>SSAdmin</h1>
          <nav>
               <ul>
                    <li><a href="{{ URL }}/">Sites</a></li>
                    <li><a href="{{ URL }}/">Servers</a></li>
               </ul>
          </nav>
     </div>
</header>
<main>
