@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import url(http://fonts.googleapis.com/css?family=Abel);

@media screen and (max-width: 800px) {
	body {
		width: 100%;
	}
	.wrapper {
		width: 100%;
		max-width: device-width;
		margin: 0px auto;
	}
	header {
		height: 50px;
		padding: 5px 10px;
		text-align: middle;
		line-height: 30px;
		h1 {
			margin-top: 5px;
			font-size: 25px;
		}
		nav {
			margin-top: 5px;
			font-size: 15px;
		}
	}
	div.container {
		padding: 0px;
		margin: 5px 0px;
		font-size: 13px;
		ul {
			width: 240px;
		}
	}
	div.create {
		margin-left: 0px;
		button {
			font-size: 13px !important;
			line-height: 13px !important;
			height: 27px !important;
			text-align: middle !important;
			padding-bottom: 17px !important;
		}
	}
	div.loader{
		background-image: url('../img/spinner.gif');
		width: 92px;
		height: 92px;
		top: 30%;
		left: 35%;
		position: absolute;
	}	
	main {
		margin-bottom: -50px;
		padding-top: 65px;
		table {
			margin: 0px 0px;
			font-size: 13px;
		}
		.hideonmobile {
			display: none;
		}
		h2 {
			margin-top: 10px;
			margin-bottom: 0px;
			font-size: 20px;
		}
		div.form-group {
			width: 250px;
			margin: 0px auto;
			font-size: 13px;
			option {
				max-width: 200px !important;
				font-size: 13px !important;
				line-height: 15px;
			}
			label {
				font-size: 13px;
				text-align: middle;
				margin-top: 10px;
			}
			select {
				widht: 250px;
			}
			.form-control {
				width: 250px;
				height: 20px;
				font-size: 13px !important;
				text-align: middle !important;
				option {
					max-width: 200px !important;
					font-size: 13px !important;
					line-height: 15px;
				}
			}
		}
		div.pull-left {
			margin-left: 34px;
			button {
				margin-top: 10px;

			}
		}
		form {
			button {
				font-size: 13px !important;
				line-height: 13px !important;
				height: 27px !important;
				text-align: middle !important;
				padding-bottom: 17px !important;
			}
		}
		hr {
			width: 300px;
			margin-left: 5px;
		}
		h3 {
			font-size: 17px;
			margin-top: 10px;
			margin-bottom: 5px;
			margin-left: 15px;
		}
		ul {
			width: 310px;
			font-size: 13px;
			margin-left: 5px;
		}
		div.left {
			width: 300px;
			magin-top: 300px;
			padding-left: 10px;
		}
		div.right{
			width: 300px;
			float: left;
			margin-left: 0px;
			padding-left: 10px;
			padding-right: 10px;
		}
		main:after, footer{
			height: 50px;
			float: left;
		}
		div.commits {
			width: 280px;
			height: 100px;
			font-size: 13px;
			label {
				font-size: 13px;
				text-align: middle;
				margin-top: 10px;
			}
			.form-control {
				height: 70px;
			}
			table {
				font-size: 13px;
			}
		}
		div.files {
			width: 290px;
			height: 150px;
			font-size: 13px;
			label {
				font-size: 13px;
				text-align: middle;
				margin-top: 10px;
			}
		}
	}
	/*footer {
		height: 50px;
		p {
			padding: 15px 0px;
			line-height: 20px;
			font-size: 15px;
		}
	}*/
}