@import 'bootstrap';
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import url(http://fonts.googleapis.com/css?family=Abel);

$text-normal-color:#333333;
$link-normal-color:#144955;
$link-hover-color:#000000;
$border-normal-color:#e7e7e7;
$header-color:#fff;

html *{
     color-profile:sRGB;
     rendering-intent:auto;
}

html, body{
     height:100%;
}

body{
     color:$text-normal-color;
     line-height:22px;
     font:{
          family:'Abel', sans-serif;
          size:16px;
     }
}

h1{
	color:$header-color;
     font{
          size:1.5em;
     }
}

h2{
     text-align:center;
     font{
     }
}

h3{
     margin-top: 15px;
}

a{
     color:$link-normal-color;
     &:hover{
          color:$link-hover-color;
          cursor:pointer;
     }
}

p{
	color: #fff;
     padding:10px 0;
     margin:0;
}

header{
     width:100%;
     padding:40px 0;
     position:fixed;
     z-index:1;
     background:#217689;
     @include single-box-shadow(0, 1px, 10px, -6px, #000);
     h1{
          float:left;
          margin:0;
     }
     nav{
          float:right;
          ul{
               li{
                    display: -webkit-inline-flex;
                    display:inline-flex;
                    padding:0 15px;
                    a{
                         display:inline-block;
                         vertical-align:middle;
                         color:#f2f2f2;
                         &:hover{
                              color:#fff;
                         }
                    }
                    &.dropdown{
                         div.dropdown{
                              ul{
                                   li{
                                        display:block;
                                        padding:0;
                                        label{
                                             padding:0 10px;
                                        }
                                   }
                              }
                         }
                    }
               }
          }
     }
}

.glyphicon-arrow-left{
	margin-left: 40px;
}

.wrapper{
     margin:auto;
     width:80%;
}

.container{
     padding:40px 0;
     width:auto;
}

.glyphicon-ok{
     color:#3c763d;
}

.label-OK{
     @extend .label-success;
}
.label-A,.label-M,.label-MA,.label-AM,.label-AD,.label-DA,.label-D,.label-DM,.label-MD,.label-AMD,.label-ADM,.label-DMA,.label-MAD,.label-MDA{
     @extend .label-warning;
}
.label-Release{
     @extend .label-success;
}
.label-Test{
     @extend .label-warning;
}
.label-Debug{
     @extend .label-danger;
}
.label-Development{
     @extend .label-default;
}

form{
     div.form-group{
     	width: 300px;
          margin: 0 auto;
          label{
               margin-top: 20px;
          }
          input{
     
          }
          span{
               &.form-control-feedback{
                    top:68px;
               }
          }
     }
     button{
		margin-top: 20px;
     }
}

table{
	width:100%;
     tr{
          &.linkable{
              &.linkable:hover{
                   background:#f9f9f9;
                   cursor:pointer;
              } 
          }	 
          th, td{
		
          }
          th{
               font-weight:bold;
          }
          td{
		  
               &.dropdown{
                    width:5%;
                    text-align:center;
                    button{
					margin: 0 auto;
                    }
               }
          }
     }
}

main{
     background:#fff;
     min-height:100%;
     margin-bottom:-141px;
     padding-top:113px;
     &:after{
          content:"";
          display:block;
     }
}

div.loader{
	background-image: url('../img/spinner.gif');
	width: 92px;
	height: 92px;
	top: 30%;
	left: 46%;
	position: absolute;
}

section{
}

.viewli{
     display: inline;
     padding: 10px;

}



div.right{
     float:right;
     margin-top: 15px;
     width:60%;
     background: #FAFAFA;
     border-style: solid;
     border-width: 1px;
     border-color:#ECF1EF;
     padding-left: 15px;
     padding-right: 15px;
     padding-bottom: 10px;
     border-radius: 4px;
   
       
}

div.left{
     float:left;
     width: 35%;

}


div.commits{
     padding:10px;
     height:200px;
     width:100%;
     background:#fff;
     overflow:auto;
     color:#000000;
     border:1px solid $border-normal-color;
     font: {
          size:0.85em;
     }     
}

div.files{
     padding:10px;
     height:300px;
     width:100%;
     overflow:auto;
     color:#000000;
     border:1px solid $border-normal-color;
     font: {
          size:0.85em;
     }	 
}
