<script type="text/javascript" src="public/assets/js/form.js"></script>
<script type="text/javascript" src="public/assets/js/table.js"></script>
<section id="index">
<div class="wrapper">
<div class="container">
     <table class="table table-responsive table-condensed">
          <thead>
               <tr>
                    <th class="hideonmobile">#</th>
                    <th>Name</th>
                    <th>Domain</th>
                    <th>Status</th>
                    <th colspan="100%">Type</th>
               </tr>
          </thead>
          <tbody>
          {{#sites}}
          	<tr class="linkable" data-url="#/site/{{this.id}}">
               	<td class="hideonmobile">{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td><a href="http://84.48.125.17:8080/skole/gruppe/web3/sites/{{this.domain}}" target="_blank">{{ this.domain }}</a></td>
                    <td><span class="label label-{{this.status}}">{{this.status}}</span></td>
                    <td><span class="label label-{{this.type}}">{{this.type}}</span></td>
                    <td class="dropdown">
                    	<div class="dropdown">
                    	<a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
                    	<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                         	<li><a href="#/site/{{ this.id }}/edit">Edit</a></li>
                              <li>
                                   <form action="http://84.48.125.17:8080/skole/gruppe/web3/api/site/{{ this.id }}" method="delete">
                                        <button class="btn btn-link" type="submit">Delete</button>
                                   </form>
                              </li>
     				</ul>
                       	</div>
                     </td>
     		</tr>
          {{/sites}}
     	</tbody>
     </table>
     <div class="create">
     	<a href="#/site/new"><button class="btn btn-info btn-sm"><span class="glyphicon glyphicon-plus"></span></button></a>
     </div>
</div>
</div>
</section>
