@import url(http://fonts.googleapis.com/css?family=Abel);
/* line 11, scss/screen.scss */
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

/* line 16, scss/screen.scss */
html, body {
  height: 100%;
}

/* line 20, scss/screen.scss */
body {
  color: #333333;
  line-height: 22px;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
}

/* line 29, scss/screen.scss */
h1 {
  color: white;
}
/* line 31, scss/screen.scss */
h1 font {
  size: 1.5em;
}

/* line 36, scss/screen.scss */
h2 {
  text-align: center;
}

/* line 42, scss/screen.scss */
a {
  color: #144955;
}
/* line 44, scss/screen.scss */
a:hover {
  color: black;
  cursor: pointer;
}

/* line 50, scss/screen.scss */
p {
  color: #fff;
  padding: 10px 0;
  margin: 0;
}

/* line 56, scss/screen.scss */
header {
  width: 100%;
  padding: 40px 0;
  position: fixed;
  z-index: 1;
  background: #217689;
  -webkit-box-shadow: 0 1px 10px -6px black;
  -moz-box-shadow: 0 1px 10px -6px black;
  box-shadow: 0 1px 10px -6px black;
}
/* line 63, scss/screen.scss */
header h1 {
  float: left;
  margin: 0;
}
/* line 67, scss/screen.scss */
header nav {
  float: right;
}
/* line 70, scss/screen.scss */
header nav ul li {
  display: inline;
  padding: 0 15px;
}
/* line 73, scss/screen.scss */
header nav ul li a {
  display: inline-block;
  vertical-align: middle;
  color: #f2f2f2;
}
/* line 78, scss/screen.scss */
header nav ul li a:hover {
  color: #fff;
}
/* line 82, scss/screen.scss */
header nav ul li a:hover {
  color: #FFF;
}

/* line 90, scss/screen.scss */
.glyphicon-arrow-left {
  margin-left: 40px;
}

/* line 94, scss/screen.scss */
.wrapper {
  margin: auto;
  width: 80%;
}

/* line 99, scss/screen.scss */
.container {
  padding: 40px 0;
  width: auto;
}

/* line 104, scss/screen.scss */
.glyphicon-ok {
  color: #3c763d;
}

/* line 109, scss/screen.scss */
form div.form-group {
  width: 300px;
}
/* line 111, scss/screen.scss */
form div.form-group label {
  margin-top: 40px;
}
/* line 118, scss/screen.scss */
form div.form-group span.form-control-feedback {
  top: 68px;
}
/* line 123, scss/screen.scss */
form button {
  margin-top: 30px;
}

/* line 129, scss/screen.scss */
table {
  width: 100%;
}
/* line 133, scss/screen.scss */
table tr.linkable.linkable:hover {
  background: #f9f9f9;
  cursor: pointer;
}
/* line 141, scss/screen.scss */
table tr th {
  font-weight: bold;
}
/* line 146, scss/screen.scss */
table tr td.dropdown {
  width: 5%;
  text-align: center;
}
/* line 149, scss/screen.scss */
table tr td.dropdown button {
  margin: 0 auto;
}

/* line 157, scss/screen.scss */
main {
  background: #fff;
  min-height: 100%;
  margin-bottom: -141px;
  padding-top: 113px;
}
/* line 162, scss/screen.scss */
main:after {
  content: "";
  display: block;
}

/* line 168, scss/screen.scss */
main:after, footer {
  height: 141px;
}

/* line 175, scss/screen.scss */
footer {
  clear: both;
  background: #144955;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  position: relative;
  z-index: 1;
}
/* line 182, scss/screen.scss */
footer p {
  padding: 60px 0;
  line-height: 20px;
}

/* line 188, scss/screen.scss */
div.files {
  padding: 10px;
  height: 300px;
  width: 70%;
  overflow: auto;
  color: #000000;
  border: 1px solid #e7e7e7;
  font-size: 0.85em;
}
