@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import url(http://fonts.googleapis.com/css?family=Abel);

$text-normal-color:#333333;
$link-normal-color:#144955;
$link-hover-color:#000000;
$border-normal-color:#e7e7e7;
$header-color:#fff;

html *{
     color-profile:sRGB;
     rendering-intent:auto;
}

html, body{
     height:100%;
}

body{
     color:$text-normal-color;
     line-height:22px;
     font:{
          family:'Abel', sans-serif;
          size:16px;
     }
}

h1{
	color:$header-color;
     font{
          size:1.5em;
     }
}

h2{
     text-align:center;
     font{
     }
}

a{
     color:$link-normal-color;
     &:hover{
          color:$link-hover-color;
          cursor:pointer;
     }
}

p{
	color: #fff;
     padding:10px 0;
     margin:0;
}

header{
     width:100%;
     padding:40px 0;
     position:fixed;
     z-index:1;
     background:#217689;
     @include single-box-shadow(#000, 0, 1px, 10px, -6px);
     h1{
          float:left;
          margin:0;
     }
     nav{
          float:right;
          ul{
               li{
                    display:inline;
                    padding:0 15px;
                    a{
                         display:inline-block;
                         vertical-align:middle;

                         color:#f2f2f2;
                         &:hover{
                              color:#fff;
                         }
                    }
					a:hover{
					color:#FFF;
					}
               }
          }
     }
}

.glyphicon-arrow-left{
	margin-left: 40px;
}

.wrapper{
     margin:auto;
     width:80%;
}

.container{
     padding:40px 0;
     width:auto;
}

.glyphicon-ok{
     color:#3c763d;
}

form{
     div.form-group{
	width: 300px;
          label{
		  margin-top: 40px;
          }
          input{
		  
          }
          span{
               &.form-control-feedback{
                    top:68px;
               }
          }
     }
     button{
		margin-top: 30px;
       
     }
}

table{
	width:100%;
     tr{
          &.linkable{
              &.linkable:hover{
                   background:#f9f9f9;
                   cursor:pointer;
              } 
          }	 
          th, td{
		
          }
          th{
               font-weight:bold;
          }
          td{
		  
               &.dropdown{
                    width:5%;
                    text-align:center;
                    button{
					margin: 0 auto;
                    }
               }
          }
     }
}

main{
     background:#fff;
     min-height:100%;
     margin-bottom:-141px;
     padding-top:113px;
     &:after{
          content:"";
          display:block;
     }
}

main:after, footer{
     height:141px;
}

section{
}

footer{
     clear:both;
     background:#144955;
     text-align:center;
     border-top:1px solid $border-normal-color;
     position:relative;
     z-index:1;
     p{
          padding:60px 0;
          line-height:20px;
     }
}

div.files{
     padding:10px;
     height:300px;
     width:70%;
     overflow:auto;
     color:#000000;
     border:1px solid $border-normal-color;
     font: {
          size:0.85em;
     }	 
}