<section id="site">

     <div class="edit">
          <div class="wrapper">
          <div class="container">

               <h2>Edit site #{{ site.id }}</h2>

               <form action="{{ URL }}/site/id/{{ site.id }}" method="post" role="form">
                    <input type="hidden" name="_METHOD" value="PUT">

                    {% if errors.name %}
                    <div class="form-group has-error has-feedback">
                         <label class="control-label" for="name">Name</label>
                         <input class="form-control" type="text" name="name" placeholder="Name" value="{{ errors.name }}">
                         <span class="form-control-feedback glyphicon glyphicon-remove"></span>
                    </div>
                    {% else %}
                    <div class="form-group">
                         <label class="control-label" for="name">Name</label>
                         <input class="form-control" type="text" name="name" placeholder="Name" value="{{ site.name }}">
                    </div>
                    {% endif %}

                    {% if errors.domain %}
                    <div class="form-group has-error has-feedback">
                         <label class="control-label" for="domain">Domain</label>
                         <input class="form-control" type="text" name="domain" placeholder="Domain" value="{{ errors.domain }}">
                         <span class="form-control-feedback glyphicon glyphicon-remove"></span>
                    </div>
                    {% else %}
                    <div class="form-group">
                         <label class="control-label" for="domain">Domain</label>
                         <input class="form-control" type="text" name="domain" placeholder="Domain" value="{{ site.domain }}">
                    </div>
                    {% endif %}

                    <div class="pull-left">
                         <button class="btn btn-primary" type="submit">Submit</button>
                         <button class="btn btn-default" type="button" onclick="history.go(-1);">Cancel</button>
                    </div>

               </form>

          </div>
          </div>
     </div>

</section>
