<section id="site">

     <div class="view">
          <div class="wrapper">
          <div class="container">

               <h2>Site #{{ site.id }}</h2>
               {% if errors.flash %}
                    <div class="alert alert-danger" role="alert">
                         {{ errors.flash }}
                         <button type="button" class="close" data-dismiss="alert">
                              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                         </button>
                    </div>
               {% endif %}

               <ul>
                    <li>Name -  <b>{{ site.name }}</b></li>
                    <li>Domain - <b>{{ site.domain }}</b></li>
                    <li>Status -  <b>{{ site.status }}</b></li>
                    <li>Type - <b>{{ site.type }}</b></li>
               </ul>

               {% if site.files %}
                    <h3>Files</h3>
                    <div class="files">
                         {% for file in site.files %}
                              {{ file }} <br>
                         {% endfor %}
                    </div>

     			<form action="{{ URL }}/site/id/{{ site.id }}/download" method="get">
                         <button class="btn btn-info" type="submit" data-loading-text="Archiving...">Download</button>
                    </form>
               {% endif %}

               {% if site.hasRepository %}
     			<form action="{{ URL }}/site/id/{{ site.id }}/pull" method="get">
                         <button class="btn btn-info" type="submit" data-loading-text="Pulling...">Pull</button>
                    </form>

                    <form action="{{ URL }}/site/id/{{ site.id }}/git/commit" method="post">
                         <div class="form-group">
                         {% if errors.message %}
                              <div class="has-error has-feedback">
                                   <label class="control-label" for="message">Message</label>
                                   <input class="form-control" type="text" name="message" placeholder="Message" value="{{ errors.message }}">
                                   <span class="form-control-feedback glyphicon glyphicon-remove"></span>
                              </div>
                         {% else %}
                              <label class="control-label" for="message">Message</label>
                              <input class="form-control" type="text" name="message" placeholder="Message">
                         {% endif %}
                              <button class="btn btn-info" type="submit" data-loading-text="Committing...">Commit</button>
                         </div>
                    </form>

                    {% if site.commits.pending %}
                         <h3>Pending Commits</h3>
                         <ul>
                              {% for pending in site.commits.pending %}
                              <li>
                                   {{ pending.sha }} by <a href="mailto:{{ pending.committer.email }}">{{ pending.committer.name }}</a> at {{ pending.date }}, message {{ pending.message }}
                              </li>
                              {% endfor %}
                         </ul>
                    {% endif %}

     			<form action="{{ URL }}/site/id/{{ site.id }}/git/push" method="get">
                         <button class="btn btn-info" type="submit" data-loading-text="Pushing...">Push</button>
                    </form>

                    {% if site.commits.previous %}
                         <h3>Commit History</h3>
                         <ul>
                              {% for previous in site.commits.previous %}
                              <li>
                                   <a href="{{ previous.html_url }}">{{ previous.sha }}</a> by <a href="mailto:{{ previous.commit.committer.email }}">{{ previous.commit.committer.name }}</a> at {{ previous.commit.committer.date }}, message {{ previous.commit.message }}
                              </li>
                              {% endfor %}
                         </ul>
                    {% endif %}
               {% else %}
                    <form action="{{ URL }}/site/id/{{ site.id }}/git/create" method="get">
                         <button class="btn btn-info" type="submit" data-loading-text="Creating...">Create new Repository</button>
                    </form>
                    
                    <form action="{{ URL }}/site/id/{{ site.id }}/git/clone" method="post">
                         <div class="form-group">
                         {% if errors.repositoryUrl %}
                              <div class="has-error has-feedback">
                                   <label class="control-label" for="repositoryUrl">Repository URL</label>
                                   <input class="form-control" type="text" name="repositoryUrl" placeholder="Repository URL" value="{{ errors.repositoryUrl }}">
                                   <span class="form-control-feedback glyphicon glyphicon-remove"></span>
                              </div>
                         {% else %}
                              <label class="control-label" for="repositoryUrl">Clone existing project</label>
                              <input class="form-control" type="text" name="repositoryUrl" placeholder="URL to repo">
                         {% endif %}
                              <button class="btn btn-info" type="submit" data-loading-text="Cloning...">Clone</button>
                         </div>
                    </form>
               {% endif %}

          </div>
          </div>
     </div>

</section>
