<section id="index">

     <div class="list">
          <div class="wrapper">
          <div class="container">

               <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">Sites</div>-->
                    <table class="table">
                         <thead>
                              <tr>
                                   <th>#</th>
                                   <th>Name</th>
                                   <th>Domain</th>
                                   <th>Status</th>
                                   <th colspan="100%">Type</th>
                              </tr>
                         </thead>
                         <tbody>
                              {% for site in sites %}
                              <tr class="linkable" data-url="{{ URL }}/site/id/{{ site.id }}">
                                   <td>{{ site.id }}</td>
                                   <td>{{ site.name }}</td>
                                   <td><a href="{{ URL }}/sites/{{ site.domain }}" target="_blank">{{ site.domain }}</a></td>
                                   <td>
                                   {% if site.status == "OK" %} 
                                        <span class="label label-success">{{ site.status }}</span> 
                                   {% else %}
                                        <span class="label label-warning">{{ site.status }}</span>
                                   {% endif %}
                                   </td>
                                   <td>
                                   {% if site.type == "Release" %}
                                        <span class="label label-success">{{ site.type }}</span>
                                   {% elseif site.type == "Test" %}
                                        <span class="label label-warning">{{ site.type }}</span>
                                   {% elseif site.type == "Debug" %}
                                        <span class="label label-danger">{{ site.type }}</span>
                                   {% elseif site.type == "Development" %}
                                        <span class="label label-default">{{ site.type }}</span>
                                   {% endif %}
                                   <td class="dropdown">
                                        <div class="dropdown">
                                             <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
                                             <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                  <li><a href="{{ URL }}/site/id/{{ site.id }}/edit">Edit</a></li>
                                                  <li><a href="{{ URL }}/site/id/{{ site.id }}/move">Move</a></li>
                                                  <li><a href="{{ URL }}/site/id/{{ site.id }}/copy">Copy</a></li>
                                                  <li>
                                                       <form action="{{ URL }}/site/id/{{ site.id }}" method="post">
                                                            <input type="hidden" name="_METHOD" value="DELETE">
                                                            <input type="hidden" name="id" value="{{ site.id }}">
                                                            <button class="btn btn-link" type="submit">Delete</button>
                                                       </form>
                                                  </li>
                                             </ul>
                                        </div>
                                   </td>
                              </tr>
                              {% endfor %}
                         </tbody>
                    </table>
                    <!--<div class="panel-footer">-->
                         <a href="{{ URL }}/site/new"><button class="btn btn-info btn-sm"><span class="glyphicon glyphicon-plus"></span></button></a>
                    <!--</div>
               </div>-->
               
          </div>
          </div>
     </div>

</section>
