<table>
    <thead>
        <th>id</th>
        <th>type</th>
        <th>status</th>
    </thead>
    <tbody>
        <tr>
            <td>{{site.id}}</td>
            <td>{{site.type}}</td>
            <td>{{site.status}}</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <th>file</th>
    </thead>
    <tbody>
        {{#files}}
        <tr>
            <td>{{this}}</td>
        </tr>
        {{/files}}
    </tbody>
</table>